examples/testing-flow.json
[
    {
        "id": "2244947cb7d05f1c",
        "type": "tab",
        "label": "node-red-obs-ws",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8db7d0493d0e7cb5",
        "type": "obs event",
        "z": "2244947cb7d05f1c",
        "name": "",
        "event": "SceneItemSelected",
        "obsInstance": "fa8533d825b63e4a",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "991798c24ea05213"
            ]
        ]
    },
    {
        "id": "1adf224b1005906c",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "3281ac88e71ae0e4"
            ]
        ]
    },
    {
        "id": "adde11170324bc78",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "no data request",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 460,
        "wires": []
    },
    {
        "id": "eebc07cde2cd0541",
        "type": "obs connection status",
        "z": "2244947cb7d05f1c",
        "name": "",
        "obsInstance": "fa8533d825b63e4a",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b148d2734a9de071"
            ]
        ]
    },
    {
        "id": "b148d2734a9de071",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "connection status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "991798c24ea05213",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "obs event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "3281ac88e71ae0e4",
        "type": "obs request without data",
        "z": "2244947cb7d05f1c",
        "name": "",
        "request": "GetHotkeyList",
        "obsInstance": "fa8533d825b63e4a",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "adde11170324bc78"
            ]
        ]
    },
    {
        "id": "8934fc175e86d54f",
        "type": "obs raw request",
        "z": "2244947cb7d05f1c",
        "name": "Type=msg.topic | Data=None",
        "reqType": "topic",
        "reqTypeType": "msg",
        "reqData": "",
        "reqDataType": "none",
        "obsInstance": "fa8533d825b63e4a",
        "x": 540,
        "y": 600,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "be5a31bfbd18b223",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GetSpecialInputs",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "8934fc175e86d54f"
            ]
        ]
    },
    {
        "id": "381b0d98668793b8",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "raw request result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 640,
        "wires": []
    },
    {
        "id": "ed9c2af3904a8dee",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "raw request error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 680,
        "wires": []
    },
    {
        "id": "96a967ef0ab8b4c4",
        "type": "obs raw request",
        "z": "2244947cb7d05f1c",
        "name": "Type=String | Data=json",
        "reqType": "SetStudioModeEnabled",
        "reqTypeType": "str",
        "reqData": "{\"studioModeEnabled\":true}",
        "reqDataType": "json",
        "obsInstance": "fa8533d825b63e4a",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "12f78d28e4aae8ab",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "96a967ef0ab8b4c4"
            ]
        ]
    },
    {
        "id": "7feeb1af03640e66",
        "type": "obs raw request",
        "z": "2244947cb7d05f1c",
        "name": "Invlid Request Type",
        "reqType": "SetStudioModeEnable",
        "reqTypeType": "str",
        "reqData": "{\"studioModeEnabled\":true}",
        "reqDataType": "json",
        "obsInstance": "fa8533d825b63e4a",
        "x": 510,
        "y": 800,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "22b48521b971b55d",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "trigger error",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "7feeb1af03640e66"
            ]
        ]
    },
    {
        "id": "c9c27f2c94426339",
        "type": "obs raw request",
        "z": "2244947cb7d05f1c",
        "name": "Invalid data type for \"Type\"",
        "reqType": "payload",
        "reqTypeType": "msg",
        "reqData": "{\"studioModeEnabled\":true}",
        "reqDataType": "json",
        "obsInstance": "fa8533d825b63e4a",
        "x": 540,
        "y": 840,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "42de796f13d23204",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "trigger error",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "c9c27f2c94426339"
            ]
        ]
    },
    {
        "id": "d78ee75e195c92ab",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "obs scene",
        "scene": "Scene 1",
        "sceneType": "sceneName",
        "obsInstance": "fa8533d825b63e4a",
        "x": 490,
        "y": 980,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "3090121b235a2bf8",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "d78ee75e195c92ab"
            ]
        ]
    },
    {
        "id": "43ab21419d7d34c5",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "SetCurrentProgramScene",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 980,
        "wires": []
    },
    {
        "id": "7dedadcf4801b85f",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Name=msg.payload",
        "scene": "payload",
        "sceneType": "msg",
        "obsInstance": "fa8533d825b63e4a",
        "x": 520,
        "y": 1020,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "f084ab7a68325869",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1020,
        "wires": [
            [
                "7dedadcf4801b85f"
            ]
        ]
    },
    {
        "id": "47f01db2b83e02d3",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Name=String",
        "scene": "Scene 2",
        "sceneType": "str",
        "obsInstance": "fa8533d825b63e4a",
        "x": 490,
        "y": 1060,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "5a93c0bd18058304",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "47f01db2b83e02d3"
            ]
        ]
    },
    {
        "id": "121fec5d1e87152e",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "jsonata",
        "scene": "$uppercase(payload)",
        "sceneType": "jsonata",
        "obsInstance": "fa8533d825b63e4a",
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "58658619bda96073",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 1",
        "payloadType": "str",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "121fec5d1e87152e"
            ]
        ]
    },
    {
        "id": "eb90b2a50fac8a11",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Invalid msg.payload",
        "scene": "payload",
        "sceneType": "msg",
        "obsInstance": "fa8533d825b63e4a",
        "x": 520,
        "y": 1220,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "fc14d88a20815dfc",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 1220,
        "wires": [
            [
                "eb90b2a50fac8a11"
            ]
        ]
    },
    {
        "id": "fc594a4c7a55fd8d",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Invalid jsonata",
        "scene": "$uppee(payload)",
        "sceneType": "jsonata",
        "obsInstance": "fa8533d825b63e4a",
        "x": 500,
        "y": 1180,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "d570426d612f4247",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 1",
        "payloadType": "str",
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "fc594a4c7a55fd8d"
            ]
        ]
    },
    {
        "id": "dc2c71a47f50411d",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=None | Time=_",
        "transition": "",
        "transitionType": "none",
        "transitionTime": "",
        "transitionTimeType": "num",
        "obsInstance": "fa8533d825b63e4a",
        "x": 530,
        "y": 1360,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "dcd01db1db9edd61",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "dc2c71a47f50411d"
            ]
        ]
    },
    {
        "id": "4361d77bdf1d6876",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "TriggerStudioModeTransition",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1360,
        "wires": []
    },
    {
        "id": "69762970b19f1c89",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=OBS Transition | Time=None",
        "transition": "Stinger",
        "transitionType": "transition",
        "transitionTime": "",
        "transitionTimeType": "none",
        "obsInstance": "fa8533d825b63e4a",
        "x": 580,
        "y": 1400,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "38d5a7e441b0545d",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=String | Time=None",
        "transition": "Cut",
        "transitionType": "str",
        "transitionTime": "",
        "transitionTimeType": "none",
        "obsInstance": "fa8533d825b63e4a",
        "x": 550,
        "y": 1440,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "39ff25ada7dbdee9",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=msg.payload | Time=Number",
        "transition": "payload",
        "transitionType": "msg",
        "transitionTime": "2000",
        "transitionTimeType": "num",
        "obsInstance": "fa8533d825b63e4a",
        "x": 580,
        "y": 1480,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "97f8938c8cb3fa07",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1400,
        "wires": [
            [
                "69762970b19f1c89"
            ]
        ]
    },
    {
        "id": "404312d504643f35",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1440,
        "wires": [
            [
                "38d5a7e441b0545d"
            ]
        ]
    },
    {
        "id": "3214ceba88b6f52f",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Fade",
        "payloadType": "str",
        "x": 160,
        "y": 1480,
        "wires": [
            [
                "39ff25ada7dbdee9"
            ]
        ]
    },
    {
        "id": "e8949e80eb0b90f7",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Invlid msg.payload and invlid jsonata",
        "transition": "payload2",
        "transitionType": "msg",
        "transitionTime": "$invlid(payload)",
        "transitionTimeType": "jsonata",
        "obsInstance": "fa8533d825b63e4a",
        "x": 570,
        "y": 1560,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "81f8ca3ffb7ed192",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "time",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Fade",
        "payloadType": "str",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "e8949e80eb0b90f7"
            ]
        ]
    },
    {
        "id": "213a7956eadf5faf",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs event",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "5a295d548248e678",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs connection status",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "adaaf92586b64fb8",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs request without data",
        "info": "",
        "x": 170,
        "y": 400,
        "wires": []
    },
    {
        "id": "e2e6d40d7f8edf57",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs raw request",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "e94f4c6a2fdfe540",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "SetCurrentProgramScene",
        "info": "",
        "x": 170,
        "y": 920,
        "wires": []
    },
    {
        "id": "2d33359cbb3b48cd",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "TriggerStudioModeTransition",
        "info": "",
        "x": 180,
        "y": 1300,
        "wires": []
    },
    {
        "id": "0f688219612d81b7",
        "type": "obs event",
        "z": "2244947cb7d05f1c",
        "name": "",
        "event": "ReplayBufferSaved",
        "obsInstance": "fa8533d825b63e4a",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "991798c24ea05213"
            ]
        ]
    },
    {
        "id": "6d1112ca59c0ced8",
        "type": "obs raw request",
        "z": "2244947cb7d05f1c",
        "name": "Type=msg.topic | Data=msg.payload",
        "reqType": "topic",
        "reqTypeType": "msg",
        "reqData": "payload",
        "reqDataType": "msg",
        "obsInstance": "fa8533d825b63e4a",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "f65bc8787b48b3ab",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GetInputSettings",
        "payload": "{\"inputName\":\"Image\"}",
        "payloadType": "json",
        "x": 180,
        "y": 680,
        "wires": [
            [
                "6d1112ca59c0ced8"
            ]
        ]
    },
    {
        "id": "43703084ca9055ab",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "de4636a6f187a9fb"
            ]
        ]
    },
    {
        "id": "de4636a6f187a9fb",
        "type": "obs raw request",
        "z": "2244947cb7d05f1c",
        "name": "Type=Request | Data=json",
        "reqType": "SetStudioModeEnabled",
        "reqTypeType": "requestName",
        "reqData": "{\"studioModeEnabled\":true}",
        "reqDataType": "json",
        "obsInstance": "fa8533d825b63e4a",
        "x": 540,
        "y": 720,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "fa8533d825b63e4a",
        "type": "obs-instance",
        "name": "",
        "host": "127.0.0.1",
        "port": "4455"
    }
]