examples/testing-flow.json
[
    {
        "id": "2244947cb7d05f1c",
        "type": "tab",
        "label": "node-red-obs-ws",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8db7d0493d0e7cb5",
        "type": "obs event",
        "z": "2244947cb7d05f1c",
        "name": "",
        "event": "SceneItemSelected",
        "obsInstance": "aadb6d9203250703",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "991798c24ea05213"
            ]
        ]
    },
    {
        "id": "eebc07cde2cd0541",
        "type": "obs connection status",
        "z": "2244947cb7d05f1c",
        "name": "",
        "obsInstance": "aadb6d9203250703",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b148d2734a9de071"
            ]
        ]
    },
    {
        "id": "b148d2734a9de071",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "connection status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "991798c24ea05213",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "obs event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "be5a31bfbd18b223",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "b7eb5429e9450ce4"
            ]
        ]
    },
    {
        "id": "381b0d98668793b8",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "request result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 620,
        "wires": []
    },
    {
        "id": "ed9c2af3904a8dee",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "request error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "12f78d28e4aae8ab",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "fca91c9780151d15"
            ]
        ]
    },
    {
        "id": "22b48521b971b55d",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "trigger error",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "e6d0a59bfd65958c"
            ]
        ]
    },
    {
        "id": "42de796f13d23204",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "trigger error",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "5c1ba2f12e701c6e"
            ]
        ]
    },
    {
        "id": "d78ee75e195c92ab",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "obs scene",
        "scene": "Scene 1",
        "sceneType": "sceneName",
        "obsInstance": "aadb6d9203250703",
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "3090121b235a2bf8",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "d78ee75e195c92ab"
            ]
        ]
    },
    {
        "id": "43ab21419d7d34c5",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "SetCurrentProgramScene",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7dedadcf4801b85f",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Name=msg.payload",
        "scene": "payload",
        "sceneType": "msg",
        "obsInstance": "aadb6d9203250703",
        "x": 520,
        "y": 1180,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "f084ab7a68325869",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1180,
        "wires": [
            [
                "7dedadcf4801b85f"
            ]
        ]
    },
    {
        "id": "47f01db2b83e02d3",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Name=String",
        "scene": "Scene 2",
        "sceneType": "str",
        "obsInstance": "aadb6d9203250703",
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "5a93c0bd18058304",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "47f01db2b83e02d3"
            ]
        ]
    },
    {
        "id": "121fec5d1e87152e",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "jsonata",
        "scene": "$uppercase(payload)",
        "sceneType": "jsonata",
        "obsInstance": "aadb6d9203250703",
        "x": 480,
        "y": 1260,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "58658619bda96073",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 1",
        "payloadType": "str",
        "x": 170,
        "y": 1260,
        "wires": [
            [
                "121fec5d1e87152e"
            ]
        ]
    },
    {
        "id": "eb90b2a50fac8a11",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Invalid msg.payload",
        "scene": "payload",
        "sceneType": "msg",
        "obsInstance": "aadb6d9203250703",
        "x": 520,
        "y": 1380,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "fc14d88a20815dfc",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "eb90b2a50fac8a11"
            ]
        ]
    },
    {
        "id": "fc594a4c7a55fd8d",
        "type": "SetCurrentProgramScene",
        "z": "2244947cb7d05f1c",
        "name": "Invalid jsonata",
        "scene": "$uppee(payload)",
        "sceneType": "jsonata",
        "obsInstance": "aadb6d9203250703",
        "x": 500,
        "y": 1340,
        "wires": [
            [
                "43ab21419d7d34c5"
            ]
        ]
    },
    {
        "id": "d570426d612f4247",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 1",
        "payloadType": "str",
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "fc594a4c7a55fd8d"
            ]
        ]
    },
    {
        "id": "dc2c71a47f50411d",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=None | Time=_",
        "transition": "",
        "transitionType": "none",
        "transitionTime": "",
        "transitionTimeType": "num",
        "obsInstance": "aadb6d9203250703",
        "x": 530,
        "y": 1520,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "dcd01db1db9edd61",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1520,
        "wires": [
            [
                "dc2c71a47f50411d"
            ]
        ]
    },
    {
        "id": "4361d77bdf1d6876",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "TriggerStudioModeTransition",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1520,
        "wires": []
    },
    {
        "id": "69762970b19f1c89",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=OBS Transition | Time=None",
        "transition": "Cut",
        "transitionType": "transition",
        "transitionTime": "",
        "transitionTimeType": "none",
        "obsInstance": "aadb6d9203250703",
        "x": 580,
        "y": 1560,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "38d5a7e441b0545d",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=String | Time=None",
        "transition": "Cut",
        "transitionType": "str",
        "transitionTime": "",
        "transitionTimeType": "none",
        "obsInstance": "aadb6d9203250703",
        "x": 550,
        "y": 1600,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "39ff25ada7dbdee9",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Transition=msg.payload | Time=Number",
        "transition": "payload",
        "transitionType": "msg",
        "transitionTime": "2000",
        "transitionTimeType": "num",
        "obsInstance": "aadb6d9203250703",
        "x": 580,
        "y": 1640,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "97f8938c8cb3fa07",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1560,
        "wires": [
            [
                "69762970b19f1c89"
            ]
        ]
    },
    {
        "id": "404312d504643f35",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Scene 3",
        "payloadType": "str",
        "x": 170,
        "y": 1600,
        "wires": [
            [
                "38d5a7e441b0545d"
            ]
        ]
    },
    {
        "id": "3214ceba88b6f52f",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "some topic",
        "payload": "Fade",
        "payloadType": "str",
        "x": 160,
        "y": 1640,
        "wires": [
            [
                "39ff25ada7dbdee9"
            ]
        ]
    },
    {
        "id": "e8949e80eb0b90f7",
        "type": "TriggerStudioModeTransition",
        "z": "2244947cb7d05f1c",
        "name": "Invalid msg.payload and invalid jsonata",
        "transition": "payload2",
        "transitionType": "msg",
        "transitionTime": "$invlid(payload)",
        "transitionTimeType": "jsonata",
        "obsInstance": "aadb6d9203250703",
        "x": 580,
        "y": 1720,
        "wires": [
            [
                "4361d77bdf1d6876"
            ]
        ]
    },
    {
        "id": "81f8ca3ffb7ed192",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "time",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "custom",
                "v": "some custom thing",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Fade",
        "payloadType": "str",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "e8949e80eb0b90f7"
            ]
        ]
    },
    {
        "id": "213a7956eadf5faf",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs event",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "5a295d548248e678",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs connection status",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "e2e6d40d7f8edf57",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "obs request",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "e94f4c6a2fdfe540",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "SetCurrentProgramScene",
        "info": "",
        "x": 170,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2d33359cbb3b48cd",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "TriggerStudioModeTransition",
        "info": "",
        "x": 180,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0f688219612d81b7",
        "type": "obs event",
        "z": "2244947cb7d05f1c",
        "name": "",
        "event": "ReplayBufferSaved",
        "obsInstance": "aadb6d9203250703",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "991798c24ea05213"
            ]
        ]
    },
    {
        "id": "f65bc8787b48b3ab",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GetInputSettings",
        "payload": "{\"inputName\":\"Image\"}",
        "payloadType": "json",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "7be4ebe88b4099c1"
            ]
        ]
    },
    {
        "id": "43703084ca9055ab",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 640,
        "wires": [
            [
                "d79a441a8e17de19"
            ]
        ]
    },
    {
        "id": "b7eb5429e9450ce4",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "GetHotkeyList",
                "rtt": "requestName",
                "rd": "",
                "rdt": "none"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "fca91c9780151d15",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "Type=String | Data=json",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "SetStudioModeEnabled",
                "rtt": "str",
                "rd": "{\"studioModeEnabled\":true}",
                "rdt": "json"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "7be4ebe88b4099c1",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "Type=msg.topic | Data=msg.payload",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "topic",
                "rtt": "msg",
                "rd": "payload",
                "rdt": "msg"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "d79a441a8e17de19",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "Type=Request | Data=json",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "SetStudioModeEnabled",
                "rtt": "requestName",
                "rd": "{\"studioModeEnabled\":true}",
                "rdt": "json"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "b654d03875826ea8",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "GetRecordStatus",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "931057f7bb10c343"
            ]
        ]
    },
    {
        "id": "931057f7bb10c343",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "Type=msg.topic | Data=None",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "topic",
                "rtt": "msg",
                "rd": "",
                "rdt": "none"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "e6d0a59bfd65958c",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "Invalid Request Type",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "InvalidRequest",
                "rtt": "str",
                "rd": "",
                "rdt": "none"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 520,
        "y": 920,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "5c1ba2f12e701c6e",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "Invalid data type for \"data\"",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "SetStudioModeEnabled",
                "rtt": "requestName",
                "rd": "payload",
                "rdt": "msg"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": null,
        "reqTypeType": null,
        "reqData": null,
        "reqDataType": null,
        "x": 530,
        "y": 960,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "6a752491284dae3b",
        "type": "debug",
        "z": "2244947cb7d05f1c",
        "name": "obs catch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b088a8b956bb581e",
        "type": "catch",
        "z": "2244947cb7d05f1c",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 160,
        "y": 1800,
        "wires": [
            [
                "6a752491284dae3b"
            ]
        ]
    },
    {
        "id": "2dbb7d1c62e52b45",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "Single requests & data handling",
        "info": "",
        "x": 210,
        "y": 440,
        "wires": []
    },
    {
        "id": "17b63533bdab6815",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "Errors",
        "info": "",
        "x": 130,
        "y": 880,
        "wires": []
    },
    {
        "id": "3cf4ae043f3ab52a",
        "type": "comment",
        "z": "2244947cb7d05f1c",
        "name": "batch requests",
        "info": "",
        "x": 160,
        "y": 700,
        "wires": []
    },
    {
        "id": "52582bde4f228b3e",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "Manual batch",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"requestData\":{\"inputMuted\":true,\"inputName\":\"Desktop-Audio\"},\"requestType\":\"SetInputMute\"},{\"requestData\":{\"sleepMillis\":1000},\"requestType\":\"Sleep\"},{\"requestData\":{\"inputMuted\":false,\"inputName\":\"Desktop-Audio\"},\"requestType\":\"SetInputMute\"}]",
        "payloadType": "json",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "5e7203fa2851d0ed"
            ]
        ]
    },
    {
        "id": "e0a963a268c08c7c",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "c4ba97c8fcfa1aa6"
            ]
        ]
    },
    {
        "id": "c4ba97c8fcfa1aa6",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "preconfigured",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "SetInputMute",
                "rtt": "str",
                "rd": "{\"inputName\": \"Desktop-Audio\", \"inputMuted\": true}",
                "rdt": "json"
            },
            {
                "rt": "Sleep",
                "rtt": "requestName",
                "rd": "{\"sleepMillis\": 1000}",
                "rdt": "json"
            },
            {
                "rt": "SetInputMute",
                "rtt": "str",
                "rd": "{\"inputName\": \"Desktop-Audio\", \"inputMuted\": false}",
                "rdt": "json"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": true,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "5e7203fa2851d0ed",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "",
        "obsInstance": "aadb6d9203250703",
        "requests": [],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 500,
        "y": 820,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "c992596aa2cb1d48",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "number",
        "props": [
            {
                "p": "sleepTime",
                "v": "-500",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "912b0820d8c7f880"
            ]
        ]
    },
    {
        "id": "912b0820d8c7f880",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "variable sleeptime + expression",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "SetInputMute",
                "rtt": "str",
                "rd": "{\"inputName\": \"Desktop-Audio\", \"inputMuted\": true}",
                "rdt": "json"
            },
            {
                "rt": "Sleep",
                "rtt": "requestName",
                "rd": "{\"sleepMillis\": $abs(sleepTime)}",
                "rdt": "jsonata"
            },
            {
                "rt": "SetInputMute",
                "rtt": "str",
                "rd": "{\"inputName\": \"Desktop-Audio\", \"inputMuted\": false}",
                "rdt": "json"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": true,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 550,
        "y": 780,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "aeeaf9c2bb0cc264",
        "type": "inject",
        "z": "2244947cb7d05f1c",
        "name": "trigger error",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "ff75768d4416bc1a"
            ]
        ]
    },
    {
        "id": "ff75768d4416bc1a",
        "type": "obs request",
        "z": "2244947cb7d05f1c",
        "name": "",
        "obsInstance": "aadb6d9203250703",
        "requests": [
            {
                "rt": "GetSourceFilterList",
                "rtt": "requestName",
                "rd": "invalid",
                "rdt": "json"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "381b0d98668793b8"
            ],
            [
                "ed9c2af3904a8dee"
            ]
        ]
    },
    {
        "id": "aadb6d9203250703",
        "type": "obs-instance",
        "name": "OBS Instance",
        "host": "127.0.0.1",
        "port": "4455"
    }
]